body {
  box-sizing: border-box;
  padding: 0;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .listButtons {
    width: 50%;
    font-size: 30px;
    margin-left: 20%;

    button {
      margin-left: 5px;
    }
  }

}